/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ClearFix */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Web Fonts */
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Fjalla+One);
/* font-family: 'Fjalla One', sans-serif; */
/* font-family: 'PT Sans Narrow', sans-serif; */

/* Main Styles */
body {
  font-size: 62.5%;
  color: #333;
}
a {
  text-decoration: none;
  color: #333;
}
#setup {
  width: 33%;
  margin: 15% auto;
  text-align: center;
}
#setup h1 {
  font-size: 3.6em; 
  font-family: 'Fjalla One', sans-serif;
  margin-bottom: 10px;
}
#setup button {
  background-color: #FF5A46;
  padding: 10px;
  color: #fff;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.4em; 
  border: none;
  border-radius: 12px;
  margin-bottom: 10px;
}
#team-menu {
  display: none;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.8em;
  background-color: #FF5A46;
  border-radius: 12px;
  padding: 6px;
}
#team-menu li {
  margin: 9px;
}
#team-menu li a{
  color: #fff;
}
#team-menu li a:hover{
  color: #333;
}
.team-menu-left,
.team-menu-right {
  width: 48%;
}
.team-menu-left {
  float: left;
}
.team-menu-right {
  float: right;
}
.stats-container {
  display: none;
}

/* Stats Page */
body {
  padding: 0.5%;
}
header {
  height: 4vh;
  width: 100%;
  margin: 1vh 0;
  border: 1px solid black;
  box-sizing: border-box;
  /* needs clearfix at some point */
}
nav {
  position: relative;
}
header h1 {
  float: left;
}
header h2 {
  float: right;
  cursor: pointer;
}
header h3 {
  clear: both;
}
/*#team-menu-flyout {
  width: 33%;
}*/


.bigBox {
  height: 91.5vh;
  width: 33%;
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
}
.smallBox {
  height: 45.30vh;
  width: 33%;
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
  margin-left: 0.5%;
  margin-bottom: 1vh     
}

/* Switch Team Menu */
#team-menu-flyout {
  position: absolute;
  top: 50px;
  right: 50px;
  display: none;

}

/* Form */



/* League Table */
#league-table th {
  padding: 3px;
}
#league-table td {
  padding: 7px 0;
}
.team-name {
  text-align: left;
  cursor: pointer;
}
td {
  text-align: center;
}
